RewriteEngine on
RewriteCond %{THE_REQUEST} /([^.]+)\.php [NC]
RewriteRule ^ /%1 [NC,L,R]

RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^ %{REQUEST_URI}.php [NC,L]

REDIRECT /home http://talkfriend.atwebpages.com/
REDIRECT /chat http://talkfriend.atwebpages.com/
REDIRECT /server/conn http://talkfriend.atwebpages.com/404
REDIRECT talkfriend.atwebpages.com/ http://talkfriend.atwebpages.com/

ErrorDocument 404 /404
